<footer class='container mt-8'>
	<div class='py-4 border-t dark:border-t-zinc-700'>
		<p>> No AI was used during the creation of this website and redaction of the blog posts</p>
		<p>> Views and opinions expressed here only engage myself and are not representative of my employers; past, present and future.</p>
	</div>
</footer>
