@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
	themes: bumblebee --default, halloween --prefersdark;
}


@custom-variant dark (&:where([data-theme=halloween], [data-theme=halloween] *));

@font-face {
	font-family: 'Atkinson-Hyperlegible';
	src: url('/fonts/AtkinsonHyperlegible-Regular.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson-Hyperlegible';
	src: url('/fonts/AtkinsonHyperlegible-Bold.ttf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson-Hyperlegible';
	src: url('/fonts/AtkinsonHyperlegible-Italic.ttf');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson-Hyperlegible';
	src: url('/fonts/AtkinsonHyperlegible-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson-Hyperlegible-Mono';
	src: url('/fonts/AtkinsonHyperlegibleMonoVF-Variable.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@layer base {

	html {
		font-family: "Atkinson-Hyperlegible", serif;
	}

	h1::before {
		content: "# ";
	}

	h2::before {
		content: "## ";
	}

	h3::before {
		content: "### ";
	}

	h4::before {
		content: "#### ";
	}

	h5::before {
		content: "##### ";
	}

	h6::before {
		content: "###### ";
	}

	pre,
	code {
		font-family: "Atkinson-Hyperlegible-Mono", monospace;
	}
}

@utility container {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}