@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* https://github.com/tailwindlabs/tailwindcss/discussions/18207#discussioncomment-13346742 */
@custom-variant dark (&:where(.dark, .dark *));

@plugin "daisyui" {
	themes: dark --default;
	root: ":root";
	include: ;
	exclude: ;
	prefix: ;
	logs: false;
}

@layer base {

	pre,
	code {
		font-size: 0.875rem;
	}
}

@utility container {
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
}